<div class="card mx-5">
    <p-table [value]="allInstructors" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                All Instructors
                <p-button icon="pi pi-refresh" (onClick)="getAllInstructors()"/>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Avatar</th>
                <th>Rating</th>
                <th>Date of Join</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Courses</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-allInstructors>
            <tr>
                <td>{{allInstructors.instructorName}}</td>
                <td>{{allInstructors.description}}</td>
                <td><p-image [src]="'data:image/jpeg;base64,' + allInstructors.avatar" width="60" class="" [preview]="true"/></td>
                <td><p-rating [readonly]="true" [cancel]="false" /></td>
                <td>{{allInstructors.dateOfJoin | date: 'dd/MMM/yyyy'}}</td>
                <td>{{allInstructors.mobile}}</td>
                <td>{{allInstructors.email}}</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total: {{allInstructors ? allInstructors.length : 0 }} Instructors.
            </div>
        </ng-template>
    </p-table>
</div>
